main {
  display:  flex;
  justify-content: center;
  margin: 30px;
}
main > .contactForm
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}
footer{
  margin-top: 50px;
}
.formWrapper
{
  display: flex;
  justify-content: center;
}
.form-title-section
{
  text-align: center;
  margin-bottom: 40px;
}