#mainContainer {
    border: solid black 3px;
    height: 600px;
    width: 600px;
}
#horizontalContainer {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
#verticalContainer {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.card {
    width: 100px;
    height: 100px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
